###############################################################################
# For githubs liguist
###############################################################################
dv/chip_top_e2e/covhtmlreport/pages/* linguist-vendored
dv/chip_top_e2e/covhtmlreport/* linguist-vendored

